// ===================
// Button Styles
// ===================

.button {
	font-family: $font-family;
	font-size: em(20px);
	line-height: 1;
	font-weight: $font--medium;
	display: inline-block;
	padding: 10px 20px;
	color: $color-prim;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	@include radius;
	border: 3px solid $color-prim;
	cursor: pointer;
	box-sizing: border-box;
	
	&:hover, &:focus {
		color: $color-dark;
		border-color: $color-dark;
	}
	
	&:active, &:visited {
		color: $color-prim;
		border-color: $color-prim;
	}
}

.button--prim {
	font-family: $font-family;
	font-size: em(26px);
	line-height: 1;
	font-weight: $font--medium;
	display: inline-block;
	padding: 12px 20px;
	color: $color-white;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	@include radius;
	border: 3px solid $color-white;
	cursor: pointer;
	box-sizing: border-box;
	
	&:hover, &:focus {
		color: $color-prim;
		border-color: $color-prim;
	}
	
	&:active, &:visited {
		color: $color-white;
		border-color: $color-white;
	}
}