// ===================
// Button Styles
// ===================

%btn {
	font-family: $font-family;
	line-height: 1;
	font-weight: $font--medium;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	@include radius;
	cursor: pointer;
	box-sizing: border-box;
}

.button {
	@extend %btn;
	font-size: em(14px);
	padding: 8px 12px;
	color: $color-prim;
	border: 2px solid $color-prim;
	
	&:hover, &:focus {
		color: $color-white;
		background-color: $color-prim;
	}
	
	&:active, &:visited {
		color: $color-prim;
		border-color: $color-prim;
	}
}

.button--prim {
	@extend %btn;
	font-size: em(20px);
	padding: 10px 14px;
	color: $color-white;
	border: 3px solid $color-white;
	
	&:hover, &:focus {
		color: $color-black;
		background-color: $color-white;
	}
	
	&:active, &:visited {
		color: $color-white;
		border-color: $color-white;
	}
}

.button--sec {
	@extend %btn;
	font-size: em(16px);
	padding: 8px 14px;
	color: $color-white;
	border: 3px solid $color-white;
	margin-right: 1em;
	
	&:last-of-type {
		margin-right: 0;
	}
	
	&:hover, &:focus {
		color: $color-prim;
		background-color: $color-white;
	}
	
	&:active, &:visited {
		color: $color-white;
		border-color: $color-white;
	}
}