// ===================
// Global Layout
// ===================

.center-wrapper {
	display: table;
	width: 100%;
	
	& .center {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.rounded {
	@include radius;
}

.logo {
	margin-bottom: 100px;
	width: 60px;
	height: 43px;
	display: block;
}