// ===================
// Global Layout
// ===================

.center-wrapper {
	display: table;
	width: 100%;
	
	& .center {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.rounded {
	@include radius;
}

.logo {
	margin-bottom: 100px;
	width: 60px;
	height: 43px;
	display: block;
}

footer {
	background: $color-prim;
	padding-top: 100px;
	padding-bottom: 80px;
	
	& ul {
		display: block;
		margin: 0 0 1.5em 0;
	}
	
	& li {
		display: inline-block;
		list-style: none;
		margin-right: 1em;
		margin-left: 0;
	}
	
	& svg {
		width: 30px;
		height: 30px;
		fill: $color-white;
	}
}
