// ===================
// Main Page
// ===================

header {
	background: $color-black url("../../img/marc.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right;
	height: 660px;
	padding-top: 65px;
}

.logo {
	margin-bottom: 100px;
	width: 86px;
	height: 61px;
	display: block;
}

.mp-content {
	padding-top: 100px;
}

.mp-project-img {
	width: 100%;
	display: inline-block;
}

.mp-project {
	margin-bottom: 70px;
	
	:last-of-type {
		margin-bottom: 70px;
	}
}

footer {
	background: $color-prim;
	height: 680px;
	padding-top: 100px;
}