// ===================
// Main Page
// ===================

.mp-header {
	background: $color-black url("../../img/marc.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
//	height: 660px;
	padding-top: 45px;
	padding-bottom: 100px;
}

.mp-content {
	padding-top: 100px;
	padding-bottom: 80px;
}

.mp-project-img {
	width: 100%;
	display: inline-block;
}

.mp-project {
	margin-bottom: 35px;
	
	&:last-of-type {
		margin-bottom: 0px;
	}
}

hr {
	border: 0;
	height: 1px;
	margin-bottom: 35px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}