// ===================
// Global Config 
// ===================

// Font Stacks

$font-family: "franklin-gothic-urw", sans-serif;
    
$font--light: 	300;
$font--book: 	400;
$font--medium: 	500;
$font--bold: 	700;
$font--black:	800;


// Colors
$color-white:	#fff;
$color-black:	#000;

$color-prim: 	#d71920;
$color-dark: 	#323132;
$color-light:	#EBE7E7;
$color-gray:	#9B9B9B;

//Text

$base__font-size     : 16px;
$base__line          : 24px;

$radius: 6px;