// ===================
// Base Styles scss 
// ===================

// What elements look like by default


html, body{
	width   :100%;
	height  :100%;
}


body{
	font-size   : $base__font-size;
	line-height : ($base__line/$base__font-size);
	font-family : $font-family;
	margin: 0;
	padding: 0;
	letter-spacing: .05em;
}

h1, .mp-intro {
	font-family  : $font-family;
	font-size    : em(40px);
	line-height  : (50/40);
	font-weight  : $font--medium;
	margin       : 0;
	color        : $color-white;
	margin-bottom: 100px;
}

h2, .mp-heading, .pr-title {
	font-family  : $font-family;
	font-size    : em(40px);
	line-height  : (54/40);
	font-weight  : $font--medium;
	color        : $color-prim;
	margin-bottom: em(10px);
}


h3, .mp-description, .pr-intro {
	font-family  : $font-family;
	font-size    : em(24px);
	line-height  : (36/24);
	font-weight  : $font--light;
	color        : $color-dark;
	margin-bottom: em(10px);
	letter-spacing: normal;
}

h4, .mp-role {
	font-family  : $font-family;
	font-size    : em(18px);
	line-height  : (24/18);
	font-weight  : $font--light;
	font-style   : italic;
	color        : $color-gray;
	letter-spacing: .005em;
}


h5, .mp-greeting {
	font-family  : $font-family;
	font-size    : em(70px);
	line-height  : (86/70);
	font-weight  : 500;
	margin       : 0;
	color        : $color-white; 
}

h6, .pr-heading {
	font-family  : $font-family;
	font-size    : em(30px);
	line-height  : (42px/30px);
	font-weight  : $font--medium;
	color        : $color-prim;
	margin-bottom: em(10px);
}

p, .mp-copy {
	font-family : $font-family;
	font-size   : em(20px);
	line-height : (30/20);
	font-weight : $font--light;
	color       : $color-white;
}

a {
	color: $color-prim;
	text-decoration: none;
	
	&:hover, &:focus {
		color: $color-dark;
	}
}